@tailwind base;
@tailwind components;


@tailwind utilities;


#app {
  width: 100vw;
  height: 100vh;
}
#app main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "header header header"
                       "side   main   main"
                       "footer footer footer";
  grid-template-columns: 20rem 1fr 1fr;
  grid-template-rows: 5rem auto 5rem;
}

main > header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > footer {
  grid-area: footer;
}

.content-pane {
  grid-area: main;
}


.sidebar .title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: .25em;
  cursor: pointer;
}
.sidebar footer {
  position: absolute;
  bottom: 2em;
  left: .5em;
}

.sidebar footer .add-project {
  font-weight: 700;
  font-size: 1.6em;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  cursor: pointer;
}

